<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    
    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae sunt consectetur exercitationem. Maxime, enim recusandae laboriosam facere laborum reiciendis delectus fugiat at. Quam hic iure sequi officia corrupti perspiciatis odit!
    </h1>

    <h4> <%= 1+2+4  %></h4> 
    <!-- interpolation syntax -->
</body>
</html>